/* You can add global styles to this file, and also import other style files */
body{
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000046, #1cb5e0);
  background: linear-gradient(to right, #000046, #1cb5e0);
}

