<div class="container mt-5">
  <!-- Datos del Usuario -->
  <div class="row justify-content-center user-details">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">Datos del Usuario</div>
        <div class="card-body">
          <div class="text-center">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto de perfil">
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Nombre Completo:</strong> John Doe</p>
              <p><strong>Código Postal:</strong> 12345</p>
              <p><strong>Teléfono:</strong> +1234567890</p>
            </div>
            <div class="col-md-6">
              <p><strong>Ciudad:</strong> Ciudad de Ejemplo</p>
              <p><strong>Género:</strong> Masculino</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header"><i class="fas fa-graduation-cap mr-2"></i> Mis estudios</div>
        <div class="card-body">
          <p class="card-text">Mis Estudios.</p>
          <a href="/estudio" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header">Promociones</div>
        <div class="card-body">
          <p class="card-text">Promociones.</p>
          <a href="/promociones" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header"><i class="fas fa-file-invoice-dollar mr-2"></i> Facturas</div>
        <div class="card-body">
          <p class="card-text">Facturas.</p>
          <a href="facturas" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header"><i class="fas fa-gift mr-2"></i> Mis beneficios</div>
        <div class="card-body">
          <p class="card-text">Mis Beneficios.</p>
          <a href="/beneficios" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header">Visualizar citas agendadas</div>
        <div class="card-body">
          <p class="card-text">Visualización de citas agendadas.</p>
          <a href="citas" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>